h2{
    /* background: black;  */
    color: black;
    padding: 5px;
    border-radius: 4px;
    border: 2px ;
 }
 /* body{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid black;

 } */